:root {
  --fs-small: 14px;
  --fs-medium: 16px;
  --fs-large: 18px;
  --fs-xl: 20px;
  --fs-xxl: 24px;
  --fs-xxxl: 28px;
  --fs-extra-l: 34px;

  --fw-light: 400;
  --fw-medium: 550;
  --fw-bold: 600;
  --fw-bolder: 900;

  --white: #ffffff;
  --black: #000000;

  --ff-primary: "Poppins", sans-serif;
}
